body {
  background-color: #000000;
  margin: 0px;
  
}

h1 {
color: #FFFFFF;
text-align: center;
}

h2{
color: #FFFFFF;
text-align: center;
font-size: 30px;
}

.cta {
  color: #008000;
  text-align: center;
}

#excur {
  color: #E1D9D1;
  text-align: center;
  font-size: 30px;
}

#video {
height: 500px;
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}

#images1 {
height: 500px;
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}

#images2 {
display: block;
margin-left: auto;
margin-right: auto;
}

#footer {
color: #E1D9D1;
text-align: right;
font-size: 20px;
}